<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block sub_head %}
{% endblock %}
{% block style %}
{% endblock %}
</head>

<body>
    <div align="right">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}  <a href="{% url 'logout' %}">[logout]</a></p>
    {% else %}
        <p>Welcome, Guest <a href="{% url 'login' %}?next=/">[login]</a></p>
    {% endif %}
    </div>
{% block nav %}
{% endblock %}

{% block content %}
{% endblock %}
</body>
