<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
    $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
            });
    </script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

{% block sub_head %}
{% endblock %}
{% block style %}
{% endblock %}
</head>

<body>
    <div data-role="page" data-theme="a">
        <div data-role="header" data-position="fixed" data-theme="a"> 
            <h1>{{ site_name }}</h1>
            <a href="{% url 'index' %}">home</a>
        {% if user.is_superuser %}
            <a href="/admin">admin</a>
        {% endif %}
    <div align="right">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}  <a href="{% url 'logout' %}">[logout]</a></p>
    {% else %}
        <!--p>Welcome, Guest <a href="{% url 'login' %}?next=/">[login]</a></p-->
    {% endif %}
    </div>
{% block nav %}
{% endblock %}
        </div>

{% block content %}
{% endblock %}
    </div>
</body>
