{% extends "base.html" %}

{% block content %}
    <div align="center" style="border:1px solid red"> 
        <h1>test_app</h1>
    </div>
    {% if live_tournaments %}
    <h3>Live competitions</h3>
        <ul>
        {% for tournament in live_tournaments %}
            <li><a href="{% url 'competition:submit' tournament.name %}">{{ tournament.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if closed_tournaments %}
    <h3>Previous competitions</h3>
        <ul>
        {% for tournament in closed_tournaments %}
            <li>Congratulations to {{tournament.winner.user}} who won <a href="{% url 'competition:submit' tournament.name %}">{{ tournament.name }}</a> with a score of {{tournament.winner.score}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
