{% extends "competition_base.html" %}

{% block sub_head %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$(function() {
    var x = document.getElementsByClassName("toLocalTime");
    var offset = new Date().getTimezoneOffset()*60*1000 ;
    for (i = 0; i < x.length; ++i) {
        var d = new Date(0);
        var t = Date.parse(x[i].innerHTML);
        d.setUTCMilliseconds(t - offset);
        x[i].innerHTML = d.toString().replace(/GMT.*/g,"");
    }
    var tz = document.getElementById("tz_str");
    tz.innerHTML = new Date().toString().match(/\(([A-Za-z\s].*)\)/)[1];
});
</script>
{% endblock %}

{% block content %}
{% if fixture_list %}
    <form method="post">{% csrf_token %}
        <p>Note: all times are in local time (<a id="tz_str"></a>)</p>
        <p>Only predictions that are filled in will be sent to the server, leave the box blank if you want to fill it in later</p>
        <p>Any prediction submitted after kick off will not be counted</p>
        <table style="width:80%" border="1">
            <tr>
                <th>Match id</th>
                <th>Your prediction</th>
                <th>Match</th>
                <th>{{ TOURNAMENT.sport.match_start_verb }}</th>
            </tr>
        {% for match in fixture_list %}
            <tr>
                <td>{{ match.match_id }}</td>
                <td><input type="number" step="any" name="{{match.pk}}"></td>
                <td>{{ match }}</td>
                <td class="toLocalTime">{{ match.kick_off|date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit" onclick="return confirm('Are you sure? You cannot change your predictions once submitted')"/>
    </form>
{% else %}
    <p>There are no more matches to predict, try again later</p>
{% endif %}

{% endblock %}
